<div class="d-flex">
    <div class="kiel-nav">
        <mat-tab-group>
            <mat-tab class="kiel-nav-item" label="Home"> Home is working</mat-tab>
            <mat-tab class="kiel-nav-item" label="Experience Kiel"> Experience Kiel is working</mat-tab>
            <mat-tab class="kiel-nav-item" label="About us"> About Us is working</mat-tab>
            <mat-tab class="kiel-nav-item" label="Query | FeedBack"> Query | Feedback is working</mat-tab>
        </mat-tab-group>
    </div>
    <div class="login">
        <button mat-raised-button color="primary" (click)="openLoginForm()">Login | Register</button>
        <hr/>
    </div>
</div>
