<div class="d-flex">
    <div class="kiel-nav">
        <mat-tab-group>
            <mat-tab class="kiel-nav-item">
                <ng-template mat-tab-label>
                    <strong>Home</strong>
                    <mat-icon>
                        home
                    </mat-icon>
                </ng-template>
                Home is working
            </mat-tab>
            <mat-tab class="kiel-nav-item">
                <ng-template mat-tab-label>
                    <strong>Experience Kiel</strong>
                    <mat-icon>
                        menu
                    </mat-icon>
                </ng-template>
                Experience Kiel is working
            </mat-tab>
            <mat-tab class="kiel-nav-item">
                <ng-template mat-tab-label>
                    <strong>About us</strong>
                    <mat-icon>
                        info
                    </mat-icon>
                </ng-template>
                About Us is working
            </mat-tab>
            <mat-tab class="kiel-nav-item">
                <ng-template mat-tab-label>
                    <strong (click)="openFeedBackForm()">Query | FeedBack</strong>
                    <mat-icon>
                        feedback
                    </mat-icon>
                </ng-template>
                Query | Feedback is working
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="login">
        <button mat-raised-button color="primary" (click)="openLoginForm()">Login | Register</button>
        <hr/>
    </div>
</div>
